<div id="container5">
  <div id="contentInline">
    <input ng-model="query" type="text" class="form-control form-control-lg" id="searchcategory" placeholder="Search">
    <button ng-click="searchGenre(query)" id="searchButton" class="btn btn-success">Search</button>
  </div>
</div>
<div id="container4" ng-init="getGenres()">
  <div class="table-responsive">
  <table class="table">
    <tr ng-repeat="genre in genres">
      <td id="categoryOption" ng-repeat="data in genre">
        <div id="content">
          <a ng-href="#!/play" id="{{data.id}}"><button type="button" id="categoryButton">{{data.genre}}</button></a>
        </div>
      </td>
    </tr>
  </table>
  </div>
</div>
