
<ng-include src="'partials/game-sidebar.html'" ng-controller="SidebarController"></ng-include>

<div id="container5">
  <div id="contentInline">
    <input ng-model="query" type="text" class="form-control form-control-lg" id="searchcategory" placeholder="Search">
    <button ng-click="searchGenre(query)" id="searchButton" class="btn btn-success">Search</button>
  </div>
</div>
<div id="containerCreateQuiz">
  <div id="contentInline">
    <!--<button id="createQuiz" class="btn btn-success">Create Quiz</button> -->
    <a href="#!/createQuiz" class="btn btn-success" id="createQuiz">Create Quiz</a>
  </div>
</div>
<div id="container4" ng-init="getQuiz()">
  <div class="table-responsive">
  <table class="table">
    <tr ng-repeat="genre in genres">
      <td id="categoryOption" ng-repeat="data in genre">
        <div id="content">
          <a ng-href="#!/description/{{data[0]}}" id="{{data[0]}}"><button type="button" id="categoryButton">{{data[1]}}</button></a>
        </div>
      </td>
    </tr>
  </table>
  </div>
</div>
