
<ng-include src="'partials/game-sidebar.html'" ng-controller="SidebarController"></ng-include>
<div class="col-md-8">

  <div class="row margin-down-small margin-up">
    <div class="col-md-12">
      <input ng-model="query" type="text" class="form-control form-control-lg pull-left" id="searchcategory" placeholder="Search">
      <a href="#!/createQuiz" class="btn btn-success pull-right" id="createQuiz">Create Quiz</a>
    </div>
  </div>

  <div class="row" ng-init="getQuiz()">
    <div class="col-md-12 ">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><a href="" ng-click="sortTable('name')">Quiz</a></th>
            <th><a href="" ng-click="sortTable('questions.length')">Number of questions</a></th>
            <th><a href="" ng-click="sortTable('creatorName')">Creator</a></th>
            <th><a href="" ng-click="sortTable('pop')">Number of plays</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="quiz in quizList | orderBy: orderFilter | filter:{ name: query}" ng-click="showQuiz(quiz.$id)">
              <td>{{quiz.name}}</td>
              <td>{{quiz.questions.length-1}}</td>
              <td>{{quiz.creatorName}}</td>
              <td>{{quiz.pop}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
