<ng-include src="'partials/game-sidebar.html'" ng-controller="SidebarController"></ng-include>
<div class="col-md-8 margin-left">
  <h2>Create your own quiz</h2>


<div class="col-md-8 well" id="infoField">
  <div class="row">
    <div class='container-fluid typeahead margin-down col-md-12' ng-class="nameField">
      <h4>Name of your Quiz</h4>
      <input type="text" ng-model="question.nameOfQuiz" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="container-fluid margin-down col-md-12" ng-class="numberField">
      <h4>How many Questions</h4>
      <input class="form-control" name="number" type="number" min="1" max="20" ng-model="questionAmount" ng-change="changeQuestionNumber()"/>
    </div>
  </div>
  <div class="row">
      <div class="container-fluid margin-down col-md-12" ng-class="descriptionField">
        <h4>Describe your Quiz</h4>
        <textarea class="form-control" ng-model="question.questionDescription" rows="5"></textarea>
      </div>
  </div>
  <div class="row">
    <div class="container-fluid margin-down-small">
      <button type="button" class="btn btn-success pull-right" ng-click="nextField()">Next</button>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="alert alert-danger hidden" id="infoFieldAlert">
        <strong>Wops!</strong> Try to fill in all the fields.
      </div>
    </div>
  </div>
</div>




<div class="col-md-8 hidden well" id="questionField">
  <div ng-repeat="i in getQuestionAmount(questionAmount) track by $index"  ng-attr-id="{{ 'Question-' + $index }}" >
    <h3>Question number {{$index+1}}</h3>
    <div class="row">
      <div class='container-fluid typeahead margin-down col-md-12'>
        <h4>Enter a song</h4>
        <input type="text" ng-model="question.song[$index]" placeholder="Search for a song" uib-typeahead="song for song in searchSong($viewValue)" typeahead-loading="loadingSongs" typeahead-no-results="noResults" typeahead-on-select="getURL(question.song[$index],$index)" class="form-control">
        <i ng-show="loadingSongs" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid margin-down col-md-12">
        <h4>Write your question</h4>
        <textarea class="form-control" ng-model="question.question[$index]" rows="5"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid margin-down col-md-12">
        <h4>Write your answer alternatives</h4>
        <div class="input-group margin-down-small">
          <span class="input-group-addon">
            <input type="radio" ng-model="question.correct[$index]" value="1">
          </span>
          <input type="text" class="form-control" ng-model="question.answer1[$index]">
        </div>
        <div class="input-group margin-down-small">
          <span class="input-group-addon">
            <input type="radio" ng-model="question.correct[$index]" value="2">
          </span>
          <input type="text" class="form-control" ng-model="question.answer2[$index]">
        </div>
        <div class="input-group margin-down-small">
          <span class="input-group-addon">
            <input type="radio" ng-model="question.correct[$index]" value="3">
          </span>
          <input type="text" class="form-control" ng-model="question.answer3[$index]">
        </div>
        <div class="input-group margin-down-small">
          <span class="input-group-addon">
            <input type="radio" ng-model="question.correct[$index]" value="4">
          </span>
          <input type="text" class="form-control" ng-model="question.answer4[$index]">
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="container-fluid">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="" ng-click="backPage()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li ng-repeat="i in getQuestionAmount(questionAmount) track by $index"><a href="" ng-click="showPage($index)">{{$index+1}}</a></li>
          <li>
            <a href="" ng-click="nextPage()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <div class="row">
    <div class="container-fluid margin-down-small">
      <button type="button" class="btn btn-success pull-left" ng-click="backField()">Back</button>
      <button type="button" class="btn btn-success pull-right" ng-click="submitQuestions()">Submit</button>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div class="alert alert-danger hidden" id="questionFieldAlert">
        <strong>Wops!</strong> Try to fill in all the fields.
      </div>
    </div>
  </div>

</div>
<div>
