<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<style>
.center{
          position: absolute;
          left: 50%;
          top: 50%;
          padding: 10px;
          width: auto;
          -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
}

</style>
  <div class="container" ng-controller="ProfileController">
      <br>
      <h1 id="spotiQuizTitle">SpotiQuiz</h1>
      <div class="col-md-6 center">
  		<div class="row">
  	        <div class="col-md-12">
  	            <a href="#!/category" class="btn btn-primary btn-lg btn-block btn-huge">Play</a>
  	        </div>
  	  </div>
  	    <br>
  	  <div class="row">
  	        <div class="col-md-4">
                <a ng-href="#!/user/{{userids}}" class="btn btn-primary btn-lg btn-block btn-huge">Your Profile</a>

  	        </div>
  	        <div class="col-md-4">
  	            <a href="#!/contact" class="btn btn-primary btn-lg btn-block btn-huge">Contact Us</a>
  	        </div>
  	        <div class="col-md-4">
  	            <a href="#!/scores" class="btn btn-primary btn-lg btn-block btn-huge">High Score</a>
  	        </div>
  	    </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button id="btnLogout" ng-click="btnLogout()" class="btn btn-primary btn-lg btn-block btn-huge">Log out</button>
            </div>
        </div>
  	</div>
  </div>
