<html>
<head>
<style>
    .center {
          position: absolute;
          left: 50%;
          top: 60%;
          padding: 10px;
          width: auto;
          -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
}


</style>
</head>
    <body ng-app='spotiQuizApp' ng-controller="LoginController">
        <div class="container-fluid">
            <div id="loginScreen">
                <h1 id="spotiQuizTitle">SpotiQuiz</h1>
                <div id="loginDetails" class="center">
                    <input id="txtEmail" ng-model="email" type="email" class="form-control" placeholder="Email"><br>

                    <input id="txtPassword" ng-model="password" type="password" class="form-control" placeholder="Password">

                    <span id="errorTxt" class="hidden" style="color: red">Error: {{errorMessage}}</span><br>

                    <div id="firsttime" class="input form hidden">
                        <input ng-model="changeName" class="form-control" placeholder="Your profile name"><p style="color: red">Please enter a name before logging in.</p><br>

                        <button id="btnProceed" ng-click="btnLogin()" class="btn btn-primary btn-lg btn-block btn-huge">Proceed</button>


                    </div>

                    <button id="btnLogin" ng-click="btnLogin()" class="btn btn-primary">Log in</button>

                    <button id="btnSignUp" ng-click="btnSignUp()" class="btn btn-secondary">Sign up</button>


                </div>
            </div>
        </div>
    </body>
</html>