<div id="container3">
  <div id="contentTitle">
    <!-- <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> -->
    <h1 id="spotiQuizTitlePlay">SpotiQuiz</h1>
    <div>
       <button ng-init="playSong()" style="display: none;">PLAY</button>
   </div>
  </div>
  <div id="content2">
    <div class="container">
      <div class="progress">
        <div class="progress-bar progress-bar-{{barType}} progress-bar-striped" role="progressbar" style="width:{{counter}}%">
        </div>
      </div>
      <div>
        <button ng-click="powerUpFifty()" class="btn btn-primary" style="display:{{displayTypeFifty}};">Fifty/Fifty</button>
        <button ng-click="powerUp()" class="btn btn-danger" style="display:{{displayType}};">Add Extra Time</button>
      </div>
    </div>
  </div>
</div>
<div id="container">
  <div id="content" ng-init="nextQuestion()">
    Que) {{question}}
  </div>
</div>
<div id="container2">
  <div id="option1">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="updateScore(1)" style="display:{{displayTypeOption[0]}};">{{option1}}</button>
    </div>
  </div>
  <div id="option2">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="updateScore(2)" style="display:{{displayTypeOption[1]}};">{{option2}}</button>
    </div>
  </div>
  <div id="option3">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="updateScore(3)" style="display:{{displayTypeOption[2]}};">{{option3}}</button>
    </div>
  </div>
  <div id="option4">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="updateScore(4)" style="display:{{displayTypeOption[3]}};">{{option4}}</button>
    </div>
  </div>
</div>
<div id="contentBar">
<div id="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
    {{progress}}%
  </div>
</div>
</div>
