<div id="container3">
  <div id="content">
    <!-- {{counter|formatTimer}}
    <button ng-click="takeAction()" class="btn btn-danger">{{buttonText}}</button> -->
    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
  </div>
  <div id="content2">
    <!-- Countdown : {{counter|formatTimer}} -->
    <div class="container">
      <div class="progress">
        <div class="progress-bar progress-bar-{{barType}} progress-bar-striped" role="progressbar" style="width:{{counter * 10}}%">
          {{counter|formatTimer}}
        </div>
        <!-- <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
        </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
        </div> -->
      </div>
      <button ng-click="powerUp()" class="btn btn-danger" style="display:{{displayType}};">Add Extra Time</button>
    </div>
  </div>
</div>
<div id="container">
  <div id="content" ng-init="nextQuestion()">
    Que) {{question}}
  </div>
</div>
<div id="container2">
  <div id="option1">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="nextQuestion()">OPTION 1</button>
    </div>
  </div>
  <div id="option2">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="nextQuestion()">OPTION 2</button>
    </div>
  </div>
  <div id="option3">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="nextQuestion()">OPTION 3</button>
    </div>
  </div>
  <div id="option4">
    <div id="content">
      <button type="button" id="optionButton" class="btn btn-success" ng-click="nextQuestion()">OPTION 4</button>
    </div>
  </div>
</div>
<div class="progress" style="margin-top: 55%;">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
    {{progress}}%
  </div>
</div>
