<style>
			.img-circle{
		    width:200px; /* you can use % */
		    height: auto;
		    border-radius: 50%;
		    border-style: solid;
		    border-color: blue;
			}

			#history {
				width: 100%;
				margin-top: 5%;
			}
			#displayNameProfilehtml {
			color: #111;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 27px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1;
              }

            a#imgProfilehtml{
			  float: left;
			  position: relative;
			}

			a#imgProfilehtml img {
			  display: block;
			}

			a#imgProfilehtml span {
			  display: none;
			  position: absolute;
			  top: 0;
			  left: 0;
			  bottom: 0;
			  right: 0;
			  background: rgba(0,0,0,0.6);
			  color: #ddd;
			  padding: 50px;
			}

			a#imgProfilehtml:hover span {
				display: block;,
				width:200px; /* you can use % */
			    height: auto;
			    border-radius: 50%;
			}

			#txtProfilehtml {
				color: white;
	            font-family: 'Helvetica Neue', sans-serif;
	            font-size: 15px;
	            font-weight: bold;
	            letter-spacing: -1px;
	            line-height: 1;
	            width: 200px;
	            text-align: center;
              }

            #nameProfilehtml{
	            position: absolute;
	            width: 200px;
	            text-align: center;
	            padding: 5%;

            }



</style>
	<div class="container" style="margin-top: 2%">
		<div class="col-md-8">
			<div class="col-md-4">
				<div class="row">
					<a id="imgProfilehtml" href="#">
						<img class="img-circle" src="{{displayProfilePicture}}">
						<span id="txtProfilehtml"> Change Profile Picture </span>
					</a>
				</div>

				<div id="nameProfilehtml" class="row">
					<span id="displayNameProfilehtml">{{displayProfileName}}</span><a href="#" title="Change your name"><span class="glyphicon glyphicon-pencil"></span></a>
					<button id="btnLogout" ng-click="btnLogout()" class="btn btn-action">Log out</button>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
                <div id="random" class="row">
                    <span><input id="txtChangeName" ng-model="changeName" type="text" placeholder="Name">
                    <button id="btnChangeName" ng-click="btnChangeName()" class="btn btn-action">Confirm</button></span>

                    <span><input id="txtChangePhoto" ng-model="changePhoto" type="text" placeholder="Photo">
                    <button id="btnChangePhoto" ng-click="btnChangePhoto()" class="btn btn-action">Confirm</button></span>
				</div>
		    </div>

		    <div class="col-md-8">
		    	<div class="row">
				    <table id="history">
					  <tr>
					    <th>Quiz Type</th>
					    <th># of Games</th>
					    <th>Av. Score</th>
					    <th>Total Score</th>
					    <th>Placement</th>
					  </tr>
					  <tr>
					    <td>Classical</td>
					    <td>76</td>
					    <td>8</td>
					    <td>21</td>
					    <td>2</td>
					  </tr>
					  <tr>
					    <td>Pop</td>
					    <td>10</td>
					    <td>4</td>
					    <td>6</td>
					    <td>24</td>
					  </tr>
					  <tr>
					    <td>Punk</td>
					    <td>2</td>
					    <td>6</td>
					    <td>8</td>
					    <td>17</td>
					  </tr>
					  <tr>
					    <td>Rock</td>
					    <td>1</td>
					    <td>3</td>
					    <td>3</td>
					    <td>36</td>
					  </tr>
					</table>
				</div>
				<div class="row">
					<h3>Recent Activity:</h3>
					Played a game of <i>Classical</i>-quiz and got a score of <i>8</i><br>
					Played a game of <i>Classical</i>-quiz and got a score of <i>12</i><br>
					Played a game of <i>Classical</i>-quiz and got a score of <i>2</i><br>
					Played a game of <i>Classical</i>-quiz and got a score of <i>10</i><br>
				</div>
		    </div>
	    </div>
	</div>
