
<body>
	<script type="text/ng-template" id="myPopoverTemplates.html">
		<label>{{photoPopover.content}}</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="changePhoto">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="btnChangePhoto(changePhoto)" type="button">Confirm</button>
            </span>
        </div>
    </script>

    <script type="text/ng-template" id="myPopoverTemplate.html">
		<label>{{namePopover.content}}</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="changeName">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="btnChangeName(changeName)" type="button">Confirm</button>
            </span>
        </div>
    </script>

<div class="container-fluid">
	<ng-include src="'partials/game-sidebar.html'" ng-controller="SidebarController"></ng-include>
		<div class="col-md-9" style=" margin-top: 2%;">
				<div class="row">
					<a id="imgProfilehtml" uib-popover-template="photoPopover.templateUrl" type="button" popover-placement="right" title="Change your picture">
						<img class="img-circle" src="{{displayProfilePicture}}">
						<span id="txtProfilehtml"></span>
					</a>

					<div class="container" id="displayNameContainer">
						<span id="displayNameProfilehtml" style="margin-left: 10px">{{displayProfileName}}</span>
						<a uib-popover-template="namePopover.templateUrl" type="button" popover-placement="right" title="Change your name">
							<span style="margin-left: 5px; cursor: pointer" class="glyphicon glyphicon-pencil"></span>
						</a>
					</div>
				</div>

			<div class="col-md-6">
				<div class="row">
				    <table id="history">
					  <tr style="color: #000000">
					    <th>Quiz Type</th>
					    <th># of Games</th>
					  </tr>
					  <tr style="color: #828282" ng-repeat="(key,val) in obj">
					    <td>{{key}}</td>
					    <td>{{val}}</td>
					  </tr>
					</table>
				</div>
				<div class="row"  style="color: #828282">
					<h3 style="color: #000000">Recent Activity:</h3>
						<div id="tryingshit" ng-repeat="data in repeatData | limitTo:5">
								Played a game of <i>{{data.data}}</i> with a score of <i>{{data.value}}</i>
						</div>
				</div>
		    </div>
		</div>
	</div>
</body>
