
<body>
	<script type="text/ng-template" id="myPopoverTemplates.html">
		<label>{{photoPopover.content}}</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="changePhoto">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="btnChangePhoto(changePhoto)" type="button">Confirm</button>
            </span>
        </div>
    </script>

    <script type="text/ng-template" id="myPopoverTemplate.html">
		<label>{{namePopover.content}}</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="changeName">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="btnChangeName(changeName)" type="button">Confirm</button>
            </span>
        </div>
    </script>

<div class="container-fluid">
	<ng-include src="'partials/game-sidebar.html'" ng-controller="SidebarController"></ng-include>
		<div class="col-md-9" style=" margin-top: 2%;">
				<div class="row">
					<a id="imgProfilehtml" uib-popover-template="photoPopover.templateUrl" type="button" popover-placement="right">
						<img class="img-circle" src="{{displayProfilePicture}}">
						<span id="txtProfilehtml"> Change Profile Picture </span>
					</a>
					<button class="btn btn-default" ng-click="smoer(newProduct)" type="button">smoer</button>
					<span>{{list}}</span>

					<div class="container" id="displayNameContainer">
						<span id="displayNameProfilehtml" style="margin-left: 10px">{{displayProfileName}}</span>
						<a uib-popover-template="namePopover.templateUrl" type="button" popover-placement="right" title="Change your name">
							<span style="margin-left: 5px; cursor: pointer" class="glyphicon glyphicon-pencil"></span>
						</a>
					</div>
				</div>

			<div class="col-md-8">
		    	<div class="row">
				    <table id="history">
					  <tr style="color: #ecebe8">
					    <th>Quiz Type</th>
					    <th># of Games</th>
					    <th>Av. Score</th>
					    <th>Total Score</th>
					    <th>Placement</th>
					  </tr>
					  <tr style="color: #828282">
					    <td>Classical</td>
					    <td>76</td>
					    <td>8</td>
					    <td>21</td>
					    <td>2</td>
					  </tr>
					  <tr style="color: #828282">
					    <td>Pop</td>
					    <td>10</td>
					    <td>4</td>
					    <td>6</td>
					    <td>24</td>
					  </tr>
					  <tr style="color: #828282">
					    <td>Punk</td>
					    <td>2</td>
					    <td>6</td>
					    <td>8</td>
					    <td>17</td>
					  </tr>
					  <tr style="color: #828282">
					    <td>Rock</td>
					    <td>1</td>
					    <td>3</td>
					    <td>3</td>
					    <td>36</td>
					  </tr>
					</table>
				</div>
				<div class="row"  style="color: #828282">
					<h3 style="color: #ecebe8">Recent Activity:</h3>
					Played a game of <i>Classical</i>-quiz and got a score of <i>8</i><br>
					Played a game of <i>Classical</i>-quiz and got a score of <i>12</i><br>
					Played a game of <i>Classical</i>-quiz and got a score of <i>2</i><br>
					Played a game of <i>Classical</i>-quiz and got a score of <i>10</i><br>
				</div>
		    </div>
		</div>
	</div>
</body>
