<style type="text/css">
#select-type-score {
  margin-top: 10px;
  margin-bottom: 10px;
}

#search-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#score-content {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #84bd00;
}

#loadingAnimation {
  background-color: #ffffff;
  width: 200px;
  display: block;
  margin: 0 auto;
}
</style>
<div id="wrapper" class="row">
  <ng-include src="'partials/game-sidebar.html'" ng-controller="SidebarController"></ng-include>
  <div class="col-md-8">
    <div class="text-center">
      <div class="btn-group btn-group-md" id="select-type-score" role="group" ng-init="show='historic'">
        <button type="button" class="btn btn-default" ng-click="show='historic'">Historic</button>
        <button type="button" class="btn btn-default" ng-click="show='highest'">Highest</button>
      </div>
    </div>
    <div id="score-content" ng-switch on="show">
      <div id="historic-scores" ng-switch-when="historic">
        <!-- Search users -->
        <div class="row" id="search-group">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search username" ng-model="usernameQuery">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="searchUsername(usernameQuery)">Go!</button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Quiz name</th>
              <th>Score</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="score in histScores" ng-if="scoreContentStatus === 'loaded'">
              <td>{{ score.USERID }}</td>
              <td>{{ score.NAME }}</td>
              <td>{{ score.SCORE }}</td>
              <td>{{ score.TIMESTAMP }}</td>
            </tr>
            <!-- <tr>
            <td><a href="#!/user/userid">Axel</a></td>
            <td>90's music</td>
            <td>500</td>
            <td>March 28th 15:21</td>
          </tr> -->
          </tbody>
        </table>
        <img class="img-responsive" id="loadingAnimation" ng-if="scoreContentStatus == 'loading'" src="http://www.cuisson.co.uk/templates/cuisson/supersize/slideshow/img/progress.BAK-FOURTH.gif">
      </div>
      <div id="highest-scores" ng-switch-when="highest">
        <!-- Select quiz type -->
        <div class="row" id="selectType">
          <div class="col-md-4">
            <div class="form-group">
              <!-- TODO Handle changing content when select changes -->
              <select class="form-control" ng-model="quizSelected" ng-change="showSelectedQuiz(quizSelected)">
                <option value="" disabled selected>Most popular quizzes</option>
                <!-- Populate with most popular quizzes -->
                <!-- TODO -->
                <option>All</option>
                <option ng-repeat="popularQuiz in mostPopularQuizzes" ng-value="popularQuiz[0]">
                  {{popularQuiz[1]}}
                </option>
                <!-- <option>90's music</option>
                <option>00's music</option>
                <option>Hip Hop</option>
                <option>Indie</option> -->
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search quiz name" ng-model="quizSearch">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="searchQuizName(quizSearch)">Go!</button>
              </span>
            </div>
          </div>
        </div>
        <table class="table table-striped" ng-if="highScoreShow ==='showQuiz'">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Total score</th>
            </tr>
          </thead>
          <tbody>
            <!-- TODO fill content with database content -->
            <tr ng-repeat="score in highScoresQuiz">
              <td><b>{{$index + 1}}</b></td>
              <td><a href="#!/user/{{score[0]}}">{{score[0]}}</a></td>
              <td>{{score[1]}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped" ng-if="highScoreShow === 'searchResults'">
          <thead>
            <tr>
              <th>Quiz name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="result in searchResults">
              <!-- TODO when clicking it has to select this quiz and show the high score -->
              <!-- <td>{{ result.quizName }}</td> -->
              <td><a href="" ng-click="showSelectedQuiz(result.id)">{{result.name}}</a></td>
            </tr>
          </tbody>
        </table>
        <img class="img-responsive" id="loadingAnimation" ng-if="scoreContentStatus == 'loading'" src="http://www.cuisson.co.uk/templates/cuisson/supersize/slideshow/img/progress.BAK-FOURTH.gif">
      </div>
    </div>
  </div>
</div>
