<style type="text/css">
#select-type-score {
  margin-top: 10px;
  margin-bottom: 10px;
}

#search-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#score-content {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #84bd00;
}

#loadingAnimation {
  background-color: #ffffff;
  width: 200px;
  display: block;
  margin: 0 auto;
}
</style>
<ng-include src="'partials/game-sidebar.html'" ng-controller="SidebarController"></ng-include>
<div class="col-md-8">
  <div class="text-center">
    <div class="btn-group btn-group-md" id="select-type-score" role="group" ng-init="show='historic'">
      <button type="button" class="btn btn-default" ng-click="show='historic'">Historic</button>
      <button type="button" class="btn btn-default" ng-click="show='highest'">Highest</button>
    </div>
  </div>
  <div id="score-content" ng-switch on="show">
    <div id="historic-scores" ng-switch-when="historic">
      <!-- Search users -->
      <div class="row" id="search-group">
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search username" ng-model="usernameQuery">
            <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="searchUsername(usernameQuery)">Go!</button>
            </span>
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Quiz type</th>
            <th>Score</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in usersContent" ng-if="scoreContentStatus === 'loaded'">
            <td>{{ user.name }}</td>
            <td>{{ user.scores.quiz }}</td>
            <!-- Probably have to change this to score[0] when there's more than 1 
            object -->
            <td>{{ user.scores.score }}</td>
            <td>{{ user.name }}</td>
          </tr>
          <!-- <tr>
            <td><a href="#!/user/userid">Axel</a></td>
            <td>90's music</td>
            <td>500</td>
            <td>March 28th 15:21</td>
          </tr> -->
        </tbody>
      </table>
      <img class="img-responsive" id="loadingAnimation" ng-if="scoreContentStatus == 'loading'" src="http://www.cuisson.co.uk/templates/cuisson/supersize/slideshow/img/progress.BAK-FOURTH.gif">
    </div>
    <div id="highest-scores" ng-switch-when="highest">
      <!-- Select quiz type -->
      <div class="row" id="selectType">
        <div class="col-md-4">
          <div class="form-group">
            <select class="form-control">
              <option value="" disabled selected>Most popular quizzes</option>
              <!-- Populate with most popular quizzes -->
              <option>All</option>
              <option>90's music</option>
              <option>00's music</option>
              <option>Hip Hop</option>
              <option>Indie</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search quiz name">
          </div>
        </div>
      </div>
      <!-- <div class="text-center">
        <h3>Selected quiz name</h3>
      </div> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Avg. score</th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO fill content with database content -->
          <tr>
            <td><b>1</b></td>
            <td><a href="#!/user/userid">Axel</a></td>
            <td>500</td>
          </tr>
        </tbody>
      </table>
      <img class="img-responsive" id="loadingAnimation" ng-if="scoreContentStatus == 'loading'" src="http://www.cuisson.co.uk/templates/cuisson/supersize/slideshow/img/progress.BAK-FOURTH.gif">
    </div>
  </div>
</div>
