<style type="text/css">
#select-type-score {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

#score-content {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
</style>
<div class="text-center">
    <div class="btn-group btn-group-md" id="select-type-score" role="group" ng-init="show='historic'">
        <button type="button" class="btn btn-default" ng-click="show='historic'">Historic</button>
        <button type="button" class="btn btn-default" ng-click="show='highest'">Highest</button>
    </div>
</div>
<div id="score-content" ng-switch on="show">
    <div id="historic-scores" ng-switch-when="historic">
        <!-- Search users -->
        <div class="row" id="search-group">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Quiz type</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#!/user/userid">Axel</a></td>
                    <td>90's music</td>
                    <td>500</td>
                    <td>March 28th 15:21</td>
                </tr>
                <tr>
                    <td><a href="#!/user/userid">Arham</a></td>
                    <td>Hip Hop</td>
                    <td>500</td>
                    <td>March 28th 15:12</td>
                </tr>
                <tr>
                    <td><a href="#!/user/userid">Edu</a></td>
                    <td>Indie</td>
                    <td>499</td>
                    <td>March 28th 14:57</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="highest-scores" ng-switch-when="highest">
        <!-- Select quiz type -->
        <div class="row" id="selectType">
            <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control">
                        <option value="" disabled selected>Select Quiz type</option>
                        <option>All</option>
                        <option>90's music</option>
                        <option>00's music</option>
                        <option>Hip Hop</option>
                        <option>Indie</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Avg. score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>1</b></td>
                    <td><a href="#!/user/userid">Axel</a></td>
                    <td>500</td>
                </tr>
                <tr>
                    <td><b>2</b></td>
                    <td><a href="#!/user/userid">Arham</a></td>
                    <td>450</td>
                </tr>
                <tr>
                    <td><b>3</b></td>
                    <td><a href="#!/user/userid">Edu</a></td>
                    <td>430</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
